.container {
    background-color: black;
    justify-content: inherit;
    flex-direction: column;
}

.coverImage {
    max-height: 40em;
}

.mainContainer {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex: 6;
    padding: 10%;
}

.separator {
    flex: 1;
}

.secondSeparator {
    background-color: #5f0004
}

.firstSeparator {
    background-color: #420004;
}

.textContainer {
    text-align: justify;
    margin-left: 10%;
    width: 30%;
}

@media (max-width: 768px) {
    .coverImage {
        height: 12em;
    }
    .textContainer {
        margin: 0;
    }

    .mainContainer {
        flex-direction: column;
        padding: 0;
    }
}