.container {
    background-color: black;
    justify-content: inherit;
    flex-direction: column;
}

.coverImage {
    height: 400px;
}
.title {
    text-align: center;
    margin-bottom: 0;
    font-family: SplatterKings, sans-serif;
}
.subTitle {
    margin-top: 0;
    text-align: center;
    font-size: 2em;
    font-family: SplatterKings, sans-serif;
}
.mainContainer {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex: 6;
}

.separator {
    flex: 1;
}

.secondSeparator {
    background-color: #5f0004
}

.firstSeparator {
    background-color: #420004;
}

.textContainer {
    margin-right: 10%;
    width: 40%;
}

.textContainer > p {
    padding-left: 30px;
    padding-right: 30px;
}

@media (min-width: 1921px) {
    .mainContainer {
        padding: 10%;
    }
}

@media (max-width: 768px) {
    .coverImage {
        height: 12em;
    }
    .mainContainer {
        flex-direction: column-reverse;
        padding-top: 0;
    }
    .textContainer {
        width: 100%;
        margin: 10px 0 0;
    }
    .textContainer > p {
        padding: 0;
    }
    .subTitle {
        margin-bottom: 5px;
        text-align: center;
        font-size: 1em;
        font-family: SplatterKings, sans-serif;
    }
}
