.container {
    background-color: black;
    justify-content: inherit;
    flex-direction: column;
}

.coverImage {
    max-height: 40em;
}

.mainContainer {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex: 6;
    padding: 10%;
}

.separator {
    flex: 1;
}

.secondSeparator {
    background-color: #5f0004
}

.firstSeparator {
    background-color: #420004;
}

.textContainer {
    margin-right: 10%;
    width: 40%;
}

.textContainer > p {
    padding-left: 30px;
    padding-right: 30px;
}


@media (max-width: 768px) {
    .coverImage {
        height: 12em;
    }
    .mainContainer {
        flex-direction: column-reverse;
    }
    .textContainer {
        width: 100%;
        margin: 10px 0 0;
    }
    .textContainer > p {
        padding: 0;
    }
}