.container {
    background-color: black;
    justify-content: inherit;
    flex-direction: column;
}

.coverImage {
    max-height: 40em;
}

.mainContainer {
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    align-items: center;
    flex: 6;
    padding: 10%;
}

.separator {
    flex: 1;
}

.secondSeparator {
    background-color: #5f0004
}

.firstSeparator {
    background-color: #420004;
}

.textContainer {
    width: 30%;
}

.imageContainer {
    width: 25%;
    padding: 30px;
}

.imageContainer > img {
    width: 100%;
}
@media (max-width: 768px) {
    .mainContainer {
        flex-direction: column-reverse;
        padding-top: 0;
    }
    .imageContainer {
        width: 35%;
        padding: 0px;
    }
    .textContainer {
        width: 100%;
    }
}
