.container {
    background-color: #7b0007;
    justify-content: inherit;
    flex-direction: row;
    position: relative;
    padding-top: 0 !important;
}

.coverImage {
    max-height: 70%;
}

.mainContainer {
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    align-items: normal;
    flex: 6;
}

.separator {
    flex: 1;
}

.secondSeparator {
    background-color: #5f0004
}

.firstSeparator {
    background-color: #420004;
}

.character {
    display: none;
}

.textContainer {

    display: flex;
    justify-content: center;
    flex-direction: column;
}

.textContainer > h3 {
    cursor: pointer;
}

.socialIconsContainer{
    display: flex;
    justify-content: center;
}

.socialIconsContainer > a > img {
    height: 2.2em;
    margin-top: 50px;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .firstSeparator{
        position: relative;
        width: 100%;
        height: 100%;
    }
    .character {
        position: absolute;
        bottom: 0;
        width: 100%;
        height: auto;
        display: block;
        margin-bottom: -45%;
    }

    .secondSeparator {
        display: none;
    }

    .container {
        flex-direction: column-reverse;
    }

    .socialIconsContainer > a > img {
        height: 1.1em;
        margin-top: 1em;
        margin-right: 20px;
    }

}