.container {
    background-color: black;
    justify-content: inherit;
}

.trashScene {
    width: 45%;
    height: auto;
    position: relative;
}

.trashScene > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.trashScene > div > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
}

.coverImage {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.mainContainer{
    width: 100%;
    justify-content: center;
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    align-items: normal;
}
.textContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
}

.trashTitle {
    font-size: 7em;
    font-family: SplatterKings, sans-serif;
}
.trashSubTitle {
    font-size: 2em;
    font-family: SplatterKings, sans-serif;
}
.textContainer > p {
    text-align: center !important;
}

@media (max-width: 768px) {
    .mainContainer{
        flex-direction: column;
        text-align: center !important;
        justify-content: space-around;
    }
    .textContainer{
        text-align: center;
        margin-top: 20vh;
    }
    .trashScene {
        width: 100%;
        margin-top: -20vh;
    }
    .trashScene > div > img {
        width: 100%;
        height: auto;
        position: absolute;
        top: 0;
        left: 0;
        transform: none;
    }
    .trashTitle {
        font-size: 3em;
        font-family: SplatterKings, sans-serif;
    }
    .trashSubTitle {
        font-size: 1em;
        font-family: SplatterKings, sans-serif;
    }
}