.container {
    background-color: black;
    justify-content: inherit;
}

.trashScene {
    width: 45%;
    height: auto;
    position: relative;
}

.trashScene > div {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.trashScene > div > img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.coverImage {
    width: 100%;
    height: auto;
    position: absolute;
    top: 0;
    left: 0;
}

.mainContainer{
    width: 100%;
    justify-content: space-around;
    flex-direction: row;
    display: flex;
    flex-grow: 1;
    align-items: normal;
}
.textContainer{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

@media (max-width: 768px) {
    .mainContainer{
        flex-direction: column;
        text-align: center !important;
    }
    .textContainer{
        text-align: center;
        margin-top: 20vh;
    }
    .textContainer > p{
        text-align: center !important;
    }
    .trashScene {
        width: 100%;
        margin-top: -20vh;
    }
}